.outer {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
}

.outer > div {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  margin-bottom: 5px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: small;
}

.item {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}